.App {
    font-family: sans-serif;
    text-align: center;
}

body { 
   background-color: rgb(58, 221, 221);
}

.card {
    background-color: white;
   border-radius: 1.25rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-top: 152px;
    margin-left: 50px;
    font-size: 32px;
}

.card:hover  {
    opacity: 10;
    background-color: #eceef1;
    border-color:#ca0a3a;
    transform: translateY(1rem);
  }

.features {
    text-align:left;
    border-top: 1px solid rgb(212, 209, 209);
    padding-top: 0.75rem;
    
}

.features > li {
    margin-bottom: 0.5rem;
    font-size:0.8rem;
}

.features > li::marker {
    content: "✔️";
}

.card:nth-child(1) .features > li:nth-child(n+5)::marker {
    /* color: pink; */
    content: "❌";
}

.card:nth-child(1) .features > li:nth-child(n+5) {
    opacity: 50%;
}


 .card:nth-child(2) .features > li:last-child::marker { 
    content: "❌ "; 
   }


.card:nth-child(2) .features > li:last-child{
    opacity: 50%;
} 


.buy {
    width:100%;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color:white;
    border-radius: 1000px;
    /* border-radius: 50%; */
    padding: 0.75rem;
    font-size: 0.75rem;
    letter-spacing: 2px;
    opacity: 70%;
}

.buy:hover {
    background-color: #0b5ed7;
    border-color:#0a58ca;

}

.price {
    font-size:2rem;
    margin: 1rem 0;
}

.price-duration {
    font-size:0.6rem;
}

.plan-name {
    color:slategrey;
    font-size:0.8rem;
    letter-spacing: 1.5px;
    
}